@import "tailwindcss";

body {
  background-color: white;
}

/* Sembunyikan scrollbar untuk Chrome, Safari dan Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-pagination .swiper-pagination-bullet {
  background-color: #d1d5db;
  width: 15px;
  height: 15px;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #ef4444;
  width: 15px;
  height: 15px;
}
