@import "../../styles/globals.scss";

.base {
  /* width: 100%; */
  height: 70px;
  max-width: 500px;
}

.container {
  @include ctaBottom;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  align-items: center;
  cursor: none;
  padding: 0px;

  .badge {
    position: relative;
    width: fit-content;
    margin-right: 18px;

    .badgeCount {
      top: -10px;
      width: 20px;
      right: -10px;
      height: 20px;
      display: flex;
      border-radius: 10px;
      position: absolute;
      align-items: center;
      justify-content: center;
      background: #ff3306;
    }
  }
}

.secondaryContainer {
  @include ctaBottom;
  padding: 16px;
  border: none;
  background: transparent;
  cursor: pointer;

  .wrapper {
    width: 100%;
    display: flex;
    padding: 12px 20px;
    border-radius: 12px;
    flex-direction: row;
    align-items: center;
    background: #ff6a00;
    justify-content: space-between;
  }
}
