@mixin ctaBottom {
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: 100;
  padding: 14px;
  display: flex;
  position: fixed;
  background: white;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;

  // tambahin safe-area supaya ga ketutupan
  padding-bottom: calc(14px + env(safe-area-inset-bottom, 0px));

  @media only screen and (min-width: 500px) {
    width: 500px;
    left: calc((100vw - 515px) / 2);
    /* width: 100%; */
  }
}

@mixin responsiveDimension {
  width: 100%;
  @media only screen and (min-width: 500px) {
    width: 500px;
    left: calc((100vw - 500px) / 2);
  }
}
