@mixin searchMarginTop {
  margin-top: 70px;
}

@mixin searchHeader {
  top: 0px;
  gap: 12px;
  width: 100%;
  z-index: 10;
  padding: 12px;
  display: flex;
  position: fixed;
  background: white;
  flex-direction: row;
  align-items: center;

  .search {
    width: 100%;
    height: 45px;
    display: flex;
    padding: 0px 12px;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    background: #f2f2f2;

    input {
      width: 90%;
      border: 0px;
      height: 44px;
      font-size: 14px;
      padding: 0px 10px;
      background: #f2f2f2;
    }
  }

  // @media only screen and (min-width: 500px) {
  //   width: 500px;
  //   left: calc((100vw - 500px) / 2);
  // }
}

@mixin ctaBottom {
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: 100;
  padding: 14px;
  display: flex;
  position: fixed;
  background: white;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;

  // tambahin safe-area supaya ga ketutupan
  padding-bottom: calc(14px + env(safe-area-inset-bottom, 0px));

  @media only screen and (min-width: 500px) {
    width: 500px;
    left: calc((100vw - 500px) / 2);
    /* width: 100%; */
  }
}

@mixin lineDivider {
  height: 1px;
  width: 100%;
  margin: 24px 0px;
  background: #f2f2f2;
}

@mixin divider {
  height: 8px;
  width: 100%;
  margin: 12px 0px;
  background: #f2f2f2;
}

@mixin discountTag {
  gap: 4px;
  display: flex;
  margin: 4px 0px;
  align-items: center;
  flex-direction: row;
  .percentage {
    padding: 1px 4px;
    border-radius: 10px;
    background: #ff6a00;
  }
}

@mixin promoTag {
  top: 6px;
  left: 6px;
  z-index: 10;
  padding: 4px;
  border-radius: 6px;
  position: absolute;
  background: #fbaf18;
}

@mixin responsiveDimension {
  width: 100%;
  @media only screen and (min-width: 500px) {
    width: 500px;
    left: calc((100vw - 500px) / 2);
  }
}
